name: tests

on: [push]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: pglock
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: Set up Go 1.24
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
    - name: Get dependencies
      run: go mod download
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
    - name: Test
      env:
        DATABASE_URL: 'postgres://test:test@localhost:5432/pglock?sslmode=disable'
      run: make test
